@import "tailwindcss";
@import "tw-animate-css";



:root {
  /* default theme and stuff */
  --primary: #818CF8;
  --on-primary: #1E1B4B;
  --primary-container: #312E81;
  --on-primary-container: #C7D2FE;

  --secondary: #FBBF24;
  --on-secondary: #451A03;
  --secondary-container: #78350F;
  --on-secondary-container: #FDE68A;

  --success: #34D399;
  --on-success: #022C22;
  --success-container: #064E3B;
  --on-success-container: #6EE7B7;

  --error: #F87171;
  --on-error: #450A0A;
  --error-container: #7F1D1D;
  --on-error-container: #FCA5A5;

  --bg: #0F172A;
  --on-background: #F1F5F9;

  --surface: #1E293B;
  --on-surface: #F1F5F9;
  --surface-variant: #334155;
  --on-surface-variant: #94A3B8;

  --outline: #475569;
  --outline-variant: #334155;
}



* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overscroll-behavior: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* old Edge/IE */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, new Edge, mobile WebKit */
}
body {
  margin: 0;
  font-family:
    var(--font-body), ui-sans-serif, system-ui, sans-serif; /* font-body is from layout.tsx */
  background: var(--bg);
  color: var(--on-surface);
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  /* overflow: hidden;
  position: fixed; */
}
h1,
h2,
h3 {
  font-family: var(--font-display); /* font-display is from layout.tsx */
  margin: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
}
input,
select,
textarea {
  font-family: inherit;
}

::selection {
  background: var(--primary-container);
  color: var(--on-primary-container);
}
